{% extends 'layouts/layout.html' %}

{% block body %}

<div id="calendar-container">
    <div id="calendar">
        <div id="calendar-header">
            <button id="prev" class="btn "><i class="bi bi-chevron-left"></i></button>
            <span id="month-year">December 2024</span>
            <button id="next" class="btn "><i class="bi bi-chevron-right"></i></button>
        </div>
        
        <table id="calendar-table">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendar-body">

            </tbody>
        </table>
    </div>
</div>
 <!-- Modal Template -->

 <div class="modal-body" id="modal-body-content">
</div>
{% endblock %}