<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <!-- Modal Dialog -->
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg mode custom-bg ">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="taskModalLabel">
                    {{ formatted_date }}
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="h mb-5 " >
                        {% for task in tasks %}
                            <ul class="list-group " >
                                    <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                         <strong>{{ task.title }}</strong> 
                                    </li>
                            </ul>
                        {% empty %}
                            No task !
                        {% endfor %}
                    <!-- Modal Template -->
                    <div class="modal-body" id="modal-body-content">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
