<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <!-- Modal Dialog -->
    <div class="modal-dialog modal-dialog-centered modal-fullscreen" style="width: 100%;">
        <div class="modal-content shadow-lg mode modal-bg">
            <!-- Modal Header -->
            <div class="modal-header border-0">
                <h5 class="modal-title w-100 text-center" id="taskModalLabel">Chart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body text-center">
                <div class="text-center">
                    <small>Completed Tasks: <span id="c" data-count="{{ completed_task_count }}">{{ completed_task_count }}</span></small> <span class="opacity-25">|</span> 
                    <small>Pending Tasks: <span id="p" data-count="{{ pending_task_count }}">{{ pending_task_count }}</span></small>
                </div>
                <div class="mt-2">  
                    <div class="row m-4">
                        <canvas id="tasksChart" ></canvas>
                    </div>
                </div>
                {% if completed_task_count > pending_task_count %}
                    <div class="alert alert-success" role="alert">
                        You are on the right way, you have completed more tasks today. Keep it up!
                    </div>
                {% elif completed_task_count == pending_task_count %}
                    <div class="alert alert-warning" role="alert">
                        You have completed half of your tasks. Keep going!
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        You have completed less number of tasks than pending tasks.Can do better!
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
