{% extends 'layouts/layout.html' %}

{% block body %}   
    <div class="index" >
        <div class="container">
            <h3 class="starting-text"> Organize your tasks using <br> the <span class="hlg">Eisenhower Matrix </span> and <br> boost your productivity.</h3>
            <blockquote class="blockquote text-muted mt-4">
            <p>"What is important is seldom urgent <br>and what is urgent is seldom important." </p>
            <p id="quote-footer" class="blockquote-footer text-muted m-1">Dwight D. Eisenhower</p>
            </blockquote>
            <div class="index-google-btn" >
                {% include "components/google_button.html" with button_text="Login with Google" loading_text="Signing In..." %}
            </div>
            

        </div>

        <div class="index-img">
            <img src="../../../media/images/list.png" alt="" width="300">
        </div>
        
    </div>
{% endblock %}