{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to eMatrix</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'task/css/tasks/main.css' %}">

</head>
<body>

    <!-- Floating Button -->
     <button  id="fab" class="btn btn-primary" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
            <span class="tooltiptext"><a href="{% url 'account_login' %}?provider=google" style="color: currentColor; text-decoration: none;">Get Started </a></span> 
        
     </button>

     <script>
        const fab = document.getElementById('fab');
        const getStarted = document.getElementById('start');

        // Scroll to 'get started' section when the button is clicked 
        fab.addEventListener('click', () => {
            getStarted.scrollIntoView({behavior: 'smooth'});
        })

        // Hide the button when the section is visible
        window.addEventListener('scroll', () => {
            const rect  = getStarted.getBoundingClientRect();
            const isVisible = rect.top <= window.innerHeight && rect.bottom >= 0;

            if (isVisible) {
                fab.style.display = 'none';
            } else {
                fab.style.display = 'block'
            }
        })
     </script>

    <!-- Hero Section -->
    <div class="container-fluid  text-white text-center d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="container">
            <h1 class="starting-text"><span class="logo">eMatrix</span>, Organize your tasks using the Eisenhower Matrix and boost your productivity.</h1>
            <blockquote class="blockquote text-muted mt-4">
            <p>"What is important is seldom urgent and what is urgent is seldom important." </p>
            <footer id="quote-footer" class="blockquote-footer text-muted m-1">Dwight D. Eisenhower</footer>
            </blockquote>
        </div>
    </div>

    <!-- Bootstrap JS and Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
