{% extends "account/base_auth.html" %}
{% load socialaccount %}

{% block title %}Sign In - eMatrix{% endblock %}

{% block content %}
<h5 class="card-title text-center mb-4">Sign In</h5>

<form id="login-form" method="post" action="{% url 'task:login' %}">
    {% csrf_token %}
    {% if message %}
        <div id="alert-message" class="alert alert-danger" role="alert"> 
            {{ message }}
        </div>
    {% endif %}
    <div class="mb-3">
        <input placeholder="Username" type="text" name="username" class="form-control" id="login-username" autofocus required>
    </div>
    <div class="mb-3">
        <input placeholder="Password" type="password" name="password" class="form-control" id="login-password" required>
    </div>
    {% include 'components/submit_button.html' with button_text="Sign In" loading_text="Signing In..." %}
</form>

<div class="text-center mt-3">
    <p>Or</p>
    {% include "components/google_button.html" with button_text="Sign in with Google" loading_text="Signing In..." %}
</div>

<div class="text-center mt-3">
    <p>Don't have an account? <a href="{% url 'account_signup' %}?provider=google">Sign Up</a></p>
</div>
{% endblock %}
