{% extends "account/base_auth.html" %}
{% load socialaccount %}

{% block title %}Sign Up - eMatrix{% endblock %}

{% block content %}
<h5 class="card-title text-center mb-4">Register</h5>

{% if message %}
    <div id="alert-message" class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endif %}

<form method="post" action="{% url 'task:register' %}" id="register-form" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Username -->
    <div class="mb-3">
        <input placeholder="Username" type="text" name="username" class="form-control" id="register-name" required autofocus>
    </div>

    <!-- Email -->
    <div class="mb-3">
        <input placeholder="Email" type="email" name="email" class="form-control" id="register-email" required>
    </div>

    <!-- Password -->
    <div class="mb-3">
        <input placeholder="Password" type="password" name="password" class="form-control" id="password" required>
    </div>

    <!-- Confirm Password -->
    <!-- <div class="mb-3">
        <input placeholder="Confirm the password" type="password" name="confirmation" class="form-control" id="password-confirmation" required>
    </div> -->

    <!-- Terms and Conditions -->
    <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="terms-checkbox" name="terms" required>
        <label class="form-check-label" for="terms-checkbox">
            I agree to the <a href="{% url 'task:privacy' %}">Privacy Policy</a> and <a href="{% url 'task:terms' %}">Terms of Service</a>.
        </label>
    </div> -->

    {% include 'components/submit_button.html' with button_text="Sign Up" loading_text="Signing Up..." %}
</form>

<div class="text-center">
    <p>or</p>
    {% include "components/google_button.html" with button_text="Sign up with Google" loading_text="Signing Up..." %}
</div>

<div class="text-center mt-3">
    <p>Already have an account? <a href="{% url 'account_login' %}?provider=google">Sign In</a></p>
</div>
{% endblock %}
