{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="../../static/network/script.js" defer></script>

    </head>
    <body class="bg-light" style="margin-top: 60px ;">

        {% if user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-light justify-content-between fixed-top  pb-0 border-bottom "  style="background-color: white;">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto" id="navb" >
                    <li class="nav-item ">
                        <a class="nav-link "   href="{% url 'index' %}" >All Posts</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link "  href="{% url 'following' %}">Following</a>
                    </li>
              </ul>
            </div>
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'profile_page' request.user %}"><strong>{{ user.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
            </nav>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-light  justify-content-between fixed-top border-bottom pb-0" style="background-color: white;" >
            <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 30px;">Network</a>
            <p class="navbar-text" href="">Welcome !</p> 
            </nav>
        {% endif %}
        


        <div class="body  pb-5 "  style="margin-top: 60px ;">
            {% block body %}
            {% endblock %}
        </div>


    </body>
</html>