{% extends 'auctions/layout.html' %}

{% block title %}Auctions | Categories #{{ category }} {% endblock %}
{% block body %}
    <div class="container mt-5 pt-2 mb-5 rounded" style="background-color: white; ">
        <h2 style="color: rgb(75, 196, 196);" > Active Listing for #{{ category }}.</h2><hr>
        <div  style="height: 100%;">
          <div class="row">
            {% for listing in category_listings %}
            <div class="col-3 my-4">
                <div class="card bg-highlight " style="height:400px;">
                  <a href="{% url 'listingv' listing.slug %}"><img class="card-img-top rounded" src="{{ listing.image.url }}" alt="{{ listing.description }}" style="height: 200px;"></a>
                  <div class="card-body">
                    <h5 class="card-text">{{ listing.title }}</h5>
                    <p class="card-text">Price :${{ listing.price }}</p>
                    <p class="card-text"><small class="text-muted"> <strong>Created: </strong> {{ listing.creation_date }}</small></p>
                    <a href="{% url 'listingv' listing.slug %}"><button class="btn btn-primary  form-control ">See details</button></a>
                  </div>
                </div>
            </div>
            {% empty %}
              {% if user.is_authenticated %}
                <p>No Listing in this category. Create a listing in this category<a href="{% url 'listing' %}"> Here </a>.</p>
              {% else %}
                <p>No Listing in this category. <a href="{% url 'login' %}">Log in </a> or <a href="{% url 'register' %}">Register</a> to create some</p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="text-center p-3" style="height: 50px;">
          <h6>© 2024 Auctions</h6>
        </div>
    </div>
    

{% endblock body %}