{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container mt-5 mb-5 p-5 rounded" style="background-color: white;">
        <h1 style="color: rgb(75, 196, 196);">Create Listing.</h1>
        <form  class="group-control" action="{% url 'listing' %}" method="post"  enctype="multipart/form-data"">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <div class="text-center p-3" style="height: 50px;">
            <h6>© 2024 Auctions</h6>
        </div>
    </div>
    


{% endblock body %}
