{% extends "auctions/layout.html" %}

{% block title %}Auctions| {{ listing.title }} {% endblock %}
{% block body %}
<div class="container mt-5 mb-5 pt-2 rounded" style="background-color: white;">
    <h1 style="color: rgb(75, 196, 196);">Listing: {{ listing.title }}</h1>
    {% if listing_closed_message %}
        <h1 style="color: green">{{ listing_closed_message }}</h1>
    {% endif %}
    <div class="row  p-2">
            <div class=" card col-md-6 p-1" style="border: none;">
                <img src="{{ listing.image.url }}" class="card-img-top rounded" alt="{{ listing.description }}" style="width: 100%; height:370px;">
            </div>
            <div class=" col-md-6 p-1">
                    <table class="table border">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Current Price</th>
                                <th scope="col">Bids</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>${{ listing.price }}</td>
                                <td>{{ bids }} bid(s)</td>
                                <td><a href="{% url 'category_active_listing' listing.category %}">{{listing.category}}</td></a>
                            </tr>
                        </tbody>
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">Listed by:</th>
                                <th scope="col">Post date</th>
                                <th scope="col">Is active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="{% url 'profile' listing.user %}">{{ listing.user }}</a></td>
                                <td>{{ listing.creation_date }}</td>
                                <td>
                                    {% if listing.is_closed %}
                                        <p style="color: red;">False</p>
                                    {% else %}
                                        <p style="color: green;">True</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {% if request.user == listing.user %}
                                    <form action="" method="post" class="form-group"> 
                                        {% csrf_token %} 
                                        <input type="hidden">
                                        <button class="btn btn-primary form-control" type="submit" name="form_close_bid">Close auctions for this Listing</button>
                                    </form>
                                {% endif %}
                            </tr>
                        </tbody>
                        
                    </table>
                    {% if user.is_authenticated %}
                        <div>
                            {% if listing.is_closed %}
                            {% else %}
                                You can place bids greater than or equal to <strong>${{ valable_bid }}</strong> <br>
                            {% endif %}
                            {% if bid.last.user == request.user %}
                                {% if listing.is_closed %}
                                {% else %}
                                    <div style="color: green;">Your bid is the current</div>
                                {% endif %}
                            {% endif %}
                            {% if message %}
                                <div style="color: red;">{{ message }}</div>
                            {% endif %}
                        </div>
                        <form action="{% url 'listingv' listing.slug %}" method="post" class="form-group">
                            {% csrf_token %}
                            {% if listing.is_closed %}

                            {% else %}
                                {{ form.bid }}
                                <input class="btn btn-primary justify-content-center" type="submit" value="Place Bid" name="form"><br>
                            {% endif %}
                        </form>
                    
                        <div class="text-align-center">
                            <div class="form mb-3">
                                {% if watchlist %}
                                    <form action="{% url 'listingv' listing.slug %}" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="watchlist">
                                        </div>
                                        <a href="{% url 'delete_from_watchlist' listing.slug %}"><button class="btn form-control form-control-lg" type="button" style="background-color: red;color: white;" value="Add to watchlist">Delete from watchlist</button></a>
                                    </form>
                                {% else %}
                                    <form action="{% url 'listingv' listing.slug %}" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="watchlist">
                                        </div>
                                            <a href="{% url 'add_to_watchlist' listing.slug %}"><button class="btn btn-primary form-control form-control-lg"  type="button"  value="Add to watchlist">Add to watchlist</button></a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p class=" text "><a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Register</a> to place bid</p>
                        </div>
                    {% endif %}
                </div>
    </div>
    <h2 style="color: rgb(75, 196, 196);" >Description</h2>
    <div class="row">
        <div class="card m-3 mt-2" style="background-color: rgb(223, 210, 210); width: 100%;">
            <div class="card-body">
                <p class="card-text">{{ listing.description }}</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class=" card col-md-5 p-0 m-3  bg-light"  >
            <div class="border text-center"  style="background-color: rgb(223, 210, 210);">
                <h3>In the same category</h3>
            </div>
            <div  style="overflow-y: scroll; height: 400px;">
                {% for listing in listings_category %}
                <div class=" card ml-5 mt-2 " style="width: 80%;height: 100px; background-color: rgb(223, 210, 210);;">
                    <div class="d-flex">
                        <div>
                            <a href="{% url 'listingv' listing.slug %}"><img src="{{ listing.image.url }}" alt="{{ listing.description }}" class="img-thumbnail" style="width: 150px;height: 100px;"></a>
                        </div>
                        <div class="card-body">
                            <h6>{{ listing.title }}</h6>
                            <h6>Price: ${{ listing.price }}</h6>
                            
                        </div>
                    </div>
                </div>
                {% empty %}

                <div class="text-center mt-5">
                    <p>No other Listing. Add a new <a href="{% url 'listing' %}">Here</a>.</p>
                </div>
                    
                {% endfor %}
            </div>
        </div>
        <div class=" card col-md-6 m-4  p-0 bg-light" >
            <div class=" border text-center"   style="background-color: rgb(223, 210, 210);">
                <h3>Comments({{ number_comment }})</h3>
            </div>
            <div class="m-3" style="overflow-y: scroll;height: 300px;">
                {% for comment in comments %}
                <div>
                    <div>
                        <span style="font-size: 50px">.</span><a href="{% url 'profile' comment.user %}">{{ comment.user }}</a>
                    </div>
                    <div class="card ml-4" style="width: auto ; background-color: rgb(223, 210, 210) ;">
                        <div class="card-body">
                            <p>{{ comment.comment }}</p>
                        </div>
                    </div>
                </div>
                
                
                {% empty %}

                <div class="text-center mt-5">
                    <p>Be the first to comment</p>
                </div>
                
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
                <form action="{% url 'listingv' listing.slug %}" method="post" class="input-group m-0 flex-nowrap">
                    {% csrf_token %}
                    {{ formm.comment }}
                    <span class="input-group-text" id="addon-wrapping"><input class="btn"  type="submit" name="formm" value="Comment"></span>
                </form>
            {% else %}
                <div class="text-center">
                    <p class=" text "><a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Register</a> comment </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="text-center p-3" style="height: 50px;">
        <h6>© 2024 Auctions</h6>
    </div>


    

</div>
    

{% endblock body %}