{% extends 'auctions/layout.html' %}


{% block title %}Auctions | Watchlist{% endblock %}
{% block body %}


<div class="container mt-5 rounded pt-2" style="background-color: white;">
    <h2 style="color: rgb(75, 196, 196);" >Your watchlist's Active Listings</h2><hr>
    <div class="row">
        {% for listing in listing %}
        <div class="col-3 my-4">
            <div class="card bg-light ">
            <img class="card-img-top rounded" src="{{ listing.listing.image.url }}" alt="{{ listing.listing.description }}" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-text">{{ listing.listing.title }}</h5>
                <p class="card-text">Price: ${{ listing.listing.price }}</p>
                <p class="card-text"><small class="text-muted"> <strong>Created: </strong> {{ listing.listing.creation_date }}</small></p>
                <a href="{% url 'listingv' listing.listing.slug %}"><button class="btn btn-primary  form-control ">See details</button></a>
            </div>
            </div>
        </div>
        {% empty %}
            <h6>You haven't added Listing in watchlist yet. <a href="{% url 'index' %}">Click here</a> to add some.</h6>
        {% endfor %}
    </div>
    <div class="text-center p-3" style="height: 50px;">
        <h6>© 2024 Auctions</h6>
    </div>
</div>

{% endblock body %}