textarea {
    min-height: 400px;
}

.read{
    background-color: #d7d7d7;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.unread{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
}

.display-handler{
    display: inline;
    margin-right: 10px;
}

.item-last{
    float: right;
    opacity: 0.5;
}


.margin{
    margin: 5px;
}
