#calendar-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;         
}

#calendar {
    width: 600px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    animation: fadeIn 0.3s ease;
}

#calendar-table {
    width: 100%;
    border-spacing: 8px;
    border-collapse: separate;
}

#calendar-table th, 
#calendar-table td {
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}

#calendar-table th {
    background-color: #e9e296;
    color: black;
    font-weight: bold;
}

#calendar-table td {
    background-color: rgb(107, 121, 121);
    color: white;
    cursor: pointer;
}

#calendar-table td:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* Current Day Highlight */
.current-day {
    background-color: #ffcc00 !important;
    color: var(--background-color);
    font-weight: bold;
}

#calendar-header {
    display: flex;
    justify-content: space-between; /* Align elements at both ends */
    align-items: center; /* Center elements vertically */
    margin-bottom: 20px;
    padding: 0 10px; /* Add some padding to the sides */
}

#calendar-header button{
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

#calendar-header button:hover{
    transform: scale(1.2); /* Slightly enlarge the buttons on hover */
    color: #ffcc00; /* Add a hover color */
}


@media (max-width: 576px) {
    #calendar-container {
        margin-top: 10px;
        padding: 20px; /* Suppression du double padding */
        display: flex;
        flex-direction: column; /* Alignement vertical des éléments */
        justify-content: center;
        height: 60vh;
    }
    
    #calendar {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    
    body, html {
        margin: 0;
        padding: 0;
    }
    
    #calendar-table {
        border-spacing: 4px; /* Espacement des cellules */
    }

    #calendar-table th,
    #calendar-table td {
        padding: 5px;
        width: 40px;
        height: 40px; /* Taille uniforme des cellules */
    }

    #calendar-header {
        flex-direction: column; /* Disposition verticale pour le header */
        text-align: center;
        padding: 10px;
    }

    #calendar-header button {
        font-size: 1.2rem; /* Taille adaptée pour une meilleure lisibilité */
    }

    #month-year {
        font-size: 1rem;
    }

    #responsive-container {
        margin-top: 0 !important; /* Annule tout margin-top antérieur */
    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
