/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
}

/* Variables CSS */
:root {
    --background-color: #f1ecec;
    --text-color: rgb(26, 24, 24);
    --primary-color: #007bff;
    --header-background: #f8f9fa;
    --border-color: rgb(90, 84, 84);
    --modal-header-color: rgb(116, 116, 240);
    --secondary-color: #1768b9;
    --accent-color: #ffc107;
    --timer-color: #17a2b8;
    --custom-file-btn-hover: #0056b3;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-background: #1f1f1f;
    --border-color: #333;
    --modal-header-color: #3a3a3a;
    --secondary-color: #757575;
    --accent-color: #ffca28;
    --timer-color: #26c6da;
    --custom-file-btn-hover: #1a73e8;
}

/* Global Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Brand Styles */
.brand {
    color: var(--text-color);
}

/* Focus Container Styles */
.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Timer Display Styles */
.timer-display {
    font-size: 6rem;
    color: var(--timer-color);
}

.timer-container p {
    font-style: italic;
    margin-top: 0.5rem;
    color: var(--secondary-color);
}

/* Task Title Styles */
.task-title h2 {
    color: var(--accent-color);
}

/* Button Styles */
.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
}

/* Dropdown Styles */
.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    background-color: var(--background-color) !important;
}

/* Image Styles */
.b {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.modal-bg,
.offcanvas-color {
    color: var(--text-color);
}

.modal-bg {
    background-color: var(--header-background);
}

.offcanvas-color {
    background-color: var(--background-color);
}

.btn-close{
    filter: invert(1);
}


/* Task Form Styles */
.task-form input:focus, #search-task {
    outline: none;
}

.task-form input, #search-task {
    border: none;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--header-background);
    color: var(--text-color);
}

.navbar {
    background-color: var(--header-background) !important;
}

.navbar li a, #dark-mode-toggle {
    margin-right: 1rem;
    border-radius: 20px;
    color: var(--text-color) !important ;
    text-decoration: none;  
}

.navbar .navbar-nav li a:hover {
    background-color: var(--secondary-color) !important;
    color: var(--hover-text-color);  
}


/* Move Cursor Styles */
#move:hover {
    cursor: move;
}

/* Card Header Styles */
.card {
    background-color: var(--header-background);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-background) !important;
}

.card .card-header h6 {
    font-weight: bold;
    font-size: 30px;
    color: var(--text-color) !important;
}

.card .card-header p {
    margin-bottom: 0;
    font-size: small;
    color: var(--secondary-color) !important;
}

/* Search Section Styles */
.search-section {
    background-color: var(--header-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input Group Styles */
.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    border-radius: 50px;
    padding: 10px 20px;
}

.input-group .btn {
    border-radius: 50px;
    padding: 10px 20px;
}


/* Custom File Button Styles */

.custom-file-btn {
    display: inline-block;
    padding: 5px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-btn:hover {
    background-color: var(--custom-file-btn-hover);
}

.file-name {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--secondary-color);
}

/* Hide File Input Styles */

.hide-img input[type="file"] {
    display: none;
}

/********** WELCOME PAGE ************/

.starting-text {
    font-size: clamp(2rem, 4vw, 4rem); 
    font-weight: 700;
    line-height: 1.2; 
    color: #333; 
}

.starting-text .logo {
    color: var(--primary-color);
    font-weight: 800;
}


/* Media Queries */

@media (min-width: 768px) {
    .eisenhower-matrix .col-md-6 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767.98px) {
    .eisenhower-matrix .col-12 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .card1 {
        max-width: 95%;
    }

    .card1 .title h1 {
        font-size: 2rem;
    }

    .card1 .body {
        font-size: 1rem;
    }
}


