
/* ----------- Global Styles ----------- */
* {
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif ;
}

/* ----------- Variables CSS ----------- */
:root {
    --background-color: #f1ecec;
    --text-color: rgb(26, 24, 24);
    --primary-color: #007bff;
    --header-background: #f8f9fa;
    --border-color: rgb(90, 84, 84);
    --modal-header-color: rgb(116, 116, 240);
}

.bg-white { background-color: white; }
.bg-lightgray { background-color: lightgray; }
.bg-gray { background-color: gray; }
.bg-greenyellow { background-color: greenyellow; }

.sug-border{
    border-right: 1px solid var(--text-color) !important;
}

.color-option {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}
.color-option.selected {
    border-color: #000; /* Highlight selected color */
}

#create-project {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#create-project:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

#create-project i {
    color: #007bff; /* Couleur de l'icône */
}

#create-project:hover i {
    color: #0056b3; /* Couleur de l'icône au survol */
}


/* ----------- Body & Typography ----------- */



.brand {
    color: rgb(37, 33, 33);
}

.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer-display {
    font-size: 4rem;
    color: #17a2b8; /* Couleur principale du timer */
}

.timer-container p {
    font-style: italic;
    margin-top: 0.5rem;
    color: #adb5bd; /* Couleur secondaire */
}

.task-title h2 {
    color: #ffc107; /* Couleur d'accent pour le titre */
}

.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 2rem;
}

.dropdown-toggle::after {
    display: none;
}

.b {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.task-form input:focus, #search-task{
    outline: none; 
}
.task-form input, #search-task{
    border: none;
    border-bottom: 1px solid black; 
}

#move:hover{
    cursor:move;
}

.card .card-header h6{
    font-weight: bold; 
    font-size: 30px;
}
.card .card-header p{
    margin-bottom: 0;
    font-size: x-small;
}

/* General container styling */
.container {
    max-width: 800px;
    margin: auto;
}

/* Search section styling */
.search-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input group styling */
.input-group {
    display: flex;
    align-items: center;
}

.input-group .form-control {
    border-radius: 50px;
    padding: 10px 20px;
}

.input-group .btn {
    border-radius: 50px;
    padding: 10px 20px;
}

/* Loading spinner styling */
#loading {
    margin-top: 20px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}

/* Results container styling */
.results-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* No results message styling */
#no-results {
    color: #6c757d;
}

/* User result styling */
.user-result {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.user-result:last-child {
    border-bottom: none;
}

.user-result img {
    border-radius: 50%;
    margin-right: 15px;
}

.user-result h6 {
    margin: 0;
    font-size: 1rem;
}

.user-result small {
    color: #6c757d;
}

/* Styles pour les cartes de la matrice Eisenhower */
.eisenhower-matrix .card {
    margin-bottom: 1rem;
}

.custom-popup {
    background-color: #fefae0;
    border: 1px solid #d4a373;
}

.custom-title {
    color: #6b705c;
}

.custom-button {
    background-color: #ffb703 !important;
    color: #023047 !important;
}


/* Styles pour les écrans larges */
@media (min-width: 768px) {
    .eisenhower-matrix .col-md-6 {
        display: flex;
        flex-direction: column;
    }
}

/* Styles pour les écrans petits */
@media (max-width: 767.98px) {
    .eisenhower-matrix .col-12 {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .card1 {
        max-width: 95%;
    }

    .card1 .title h1 {
        font-size: 2rem;
    }

    .card1 .body {
        font-size: 1rem;
    }
}


.pagination {
    flex-wrap: wrap; /* Permet de passer à plusieurs lignes si nécessaire */
}

.pagination h4 {
    margin: 0;
}

@media (max-width: 768px) {
    .pagination .btn {
        padding: 0.5rem 0.75rem; /* Réduction de la taille des boutons */
    }

    .pagination h4 span {
        font-size: 0.9rem; /* Réduction de la taille du texte pour les dates */
        padding: 0.5rem 1rem;
    }
}




/* ----------- Miscellaneous Styles ----------- */
.custom-file-btn {
    display: inline-block;
    padding: 5px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-btn:hover {
    background-color: #0056b3;
}

.file-name {
    margin-left: 10px;
    font-size: 1rem;
    color: #666;
}

.hide-img input[type="file"] {
    display: none;
}

