
.navbar1 {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color) !important; 
    box-shadow: 0 1px 1px var(--text-color);
    transition: all 1s ease-in-out;
}

.navbar1 .nav-link{
    color: var(--text-color) ;
}


.ac{
    color: var(--primary-color) !important;
}

.n:hover{
    color: var(--primary-color) !important;
}



@media (min-width: 992px) {
    nav.navbar.d-lg-none {
        display: none;
    }
}

@media (max-width: 991.98px) {
    aside.navbar1{
        display: none;  
    }

    nav.navbar2{
        background-color: var(--background-color) !important; 
        box-shadow: 0 1px 1px var(--text-color);
        transition: all 1s ease-in-out;
    }

    nav.navbar2 .nav-link{
        color: var(--text-color) !important;
    }

    #responsive-container {
        margin-top: 100px !important;
        margin-left: 0 !important; 
        width: 100% !important; 
    }

    .ac{
        border-bottom: 2px solid var(--primary-color) ; 
        border-left: none;
    }
   
}
