{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
            if (localStorage.getItem('darkMode') === 'isDarkMode') {
                document.documentElement.classList.add('dark-mode');
            }
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuadraFlow</title>
    {% include 'layouts/partials/links.html' %}

</head> 
<body class="d-flex flex-column min-vh-100" id="body">

    {% include 'layouts/partials/navbar.html' %}

    <!-- Aside bar and main -->
    <div class="container-fluid flex-grow-1 d-flex content" id="responsive-container">
        <div class="row flex-grow-1">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column bod" style="flex-grow: 1;">
                <!-- main -->
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>

    {% include 'layouts/partials/footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
