

.comment-icon{
    color: rgb(236, 227, 227);
    padding-left: 50px;
}
.post-bottom{
    display: inline;
}

.head{
    text-decoration: none;
    color: black;
}

.head:hover{
    color: black;
}

.a{
    text-decoration: none;
    color: white;
}

.v{
    border-bottom: 4px solid blue;
    color: blue !important;
}

.ro{
    border-radius: 20px;
}





