{% load static %}

<div class="col-md-6 col-12 mb-3">
  <div class="card rounded-0" style="border-left: 5px solid red !important; border: 1px solid red;">
    <div class="card-header">
      <h6>{{ title }}</h6>
      <p class="mb-0" style="font-size: x-small">{{ subtitle }}</p>
    </div>
    <div class="card-body overflow-auto" style="height: 400px">
      <form action="{% url 'task:new_task' %}" method="post">
        {% csrf_token %}
        <input type="text" class="w-100 rounded-0 mb-5" name="title" placeholder="Add task..." />
        <input type="hidden" name="priority" value='{{ priority }}' />
        <button type="submit" class="d-none"></button>
      </form>

      {% for task in tasks %}
        <div class="task-item border rounded p-1 mb-1" style="background-color: red !important">
          {% if task.completed %}
            <del class="opacity-50">{{ task.title }}</del>
          {% else %}
            {{ task.title }}
          {% endif %}
        </div>
      {% empty %}
        <p class="text-muted">Aucune tâche ici.</p>
      {% endfor %}
    </div>
  </div>
</div>
