{% load socialaccount %}

<a id="google" href="{% provider_login_url 'google' method='oauth2' %}" class="btn  btn-outline-secondary border w-100 mb-2" role="button" style="display: flex; align-items: center; justify-content: center; border-radius: 8px;  gap: 15px;">
    <div id="spinner" style="display: none; width: 20px; height: 20px; border: 2px solid #f3f3f3; border-top: 2px solid #3498db; border-radius: 50%; animation: spin 1s linear infinite;"></div>
    <img id="google-icon" 	src = 'https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg' alt="Google icon" width="20" height="20" onload="hideSpinner()">

    <span id="text">{{ button_text }}</span>
</a>

<script>
    window.addEventListener('load', function() {
        document.getElementById('spinner').style.display = 'none';
        document.getElementById('google-icon').style.display = 'inline';
    });

    document.getElementById('google').addEventListener('click', function() {
        document.getElementById('text').innerText = '{{ loading_text }}';
        document.getElementById('text').disabled = true;
        document.getElementById('title').innerText = '{{ loading_text }}';
    });

    // Show spinner while the page is loading
    document.getElementById('spinner').style.display = 'inline-block';
    document.getElementById('google-icon').style.display = 'none';
</script>

<style>
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>