<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <!-- Modal Dialog -->
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg mode custom-bg">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="taskModalLabel">
                    ✏️ Edit Project
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <!-- Modal Body -->
              <div class="modal-body">
                <form method="post" action="{% url 'task:edit_project' project.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <!-- Project Title -->
                        <label for="id_title" class="form-label fw-bold">📝 Title</label>
                        {{ form.name }}
                        
                        <!-- Project Description -->
                        <label for="id_description" class="form-label fw-bold">🖋️ Description</label>
                        {{ form.description }}
                        
                        <!-- Project Category -->
                        <label for="id_category" class="form-label fw-bold">📂 Category</label>
                        {{ form.category }}
                        
                        <!-- Project Members -->
                        <label for="id_members" class="form-label fw-bold">👥 Members</label>
                        {{ form.members }}
                    </div>
                
                    <!-- Submit Button -->
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success m-1" type="submit">
                            <i class="bi bi-check-circle"></i> Edit
                        </button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
  
    