{% extends 'layouts/layout.html' %}

{% block body %}

{% if messages %}
        {% for message in messages %}
            <div class="toast-container position-fixed top-0 end-0 p-3 mode">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Notification</strong>
                        <small>Juste maintenant</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
            <script>
                const toastLiveExample = document.getElementById('liveToast');
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);

                toastBootstrap.show();

            </script>
        {% endfor %}
    {% endif %}

<div class="container py-5">
    <h1 class="text-center mb-4">Start Your Project Today</h1>
    <div class="text-center mb-5">
        <a class="btn btn-primary btn-lg" id="create-project" >Create a New Project</a>
    </div>

    {% if projects %}
        <div class="row">
            {% for project in projects %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body bg-light  ">
                            <h2 class="card-title text-primary">{{ project.name }}</h2>
                            <p class=" text">{{ project.description|truncatewords:20 }}</p>
                            <p class="text mb-1"><strong>Owner:</strong> {{ project.owner.username }}</p>
                            <p class="text mb-1"><strong>Category:</strong> {{ project.category }}</p>

                        </div>
                        <div class="card-footer bg-light">
                            <a href="{% url 'task:project_detail' project.id %}" class="btn btn-outline-primary btn-sm">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <p class="text-muted">You don’t have any projects yet. Click "Create a New Project" to get started!</p>
        </div>
    {% endif %}
</div>


<div class="modal-body" id="modal-body-content"></div>

{% endblock %}